.block-banner {
    margin-bottom: 80px;
    padding-top: 20px;
    background-color: #FE5F55;

    // Breakpoints
    @include respond-to($phone) {
        margin-bottom: 0px;
        padding: 40px 0px 60px 0px;
    }

    @include respond-to($phone-tablet) {
        margin-bottom: 0px;
        padding: 40px 0px 60px 0px;
    }

    @include respond-to($tablet-medium) {
        margin-bottom: 0px;
        padding: 40px 0px 60px 0px;
    }

    @include respond-to($medium-large) {
        margin-bottom: 0px;
        padding: 40px 0px 60px 0px;
    }

    h1 {

        @include respond-to($phone) {
            text-align: center;
        }

        @include respond-to($phone-tablet) {
            text-align: center;
        }

        @include respond-to($tablet-medium) {
            text-align: center;
        }

        @include respond-to($medium-large) {
            text-align: center;
        }
    }

    small {
        margin-bottom: 15px;
        line-height: 28px;
        font-size: 24px;
        color: #FCFCFD;

        // Breakpoints
        @include respond-to($phone) {
            text-align: center;
        }

        @include respond-to($phone-tablet) {
            text-align: center;
        }

        @include respond-to($tablet-medium) {
            text-align: center;
        }

        @include respond-to($medium-large) {
            text-align: center;
        }
    }

    .img-fluid {
        margin-bottom: -80px;

        // Breakpoints
        @include respond-to($phone) {
            max-height: 250px;
            margin-bottom: 15px;
        }

        @include respond-to($phone-tablet) {
            max-height: 250px;
            margin-bottom: 15px;
        }

        @include respond-to($tablet-medium) {
            max-height: 250px;
            margin-bottom: 15px;
        }

        @include respond-to($medium-large) {
            max-height: 250px;
            margin-bottom: 15px;
        }
    }
}