.block-contact {
    padding: 38px 0px;
    background-color: $color-fourth;

    // Breakpoints
    @include respond-to($phone) {
        padding: 25px 0px 70px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 25px 0px 70px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 25px 0px 70px 0px;
    }

    @include respond-to($medium-large) {
        padding: 25px 0px 70px 0px;
    }

    .container {

        // Breakpoints
        @include respond-to($large-extra) {
            max-width: 500px;
        }

        @include respond-to($extra-full) {
            max-width: 500px;
        }

        @include respond-to($full) {
            max-width: 500px;
        }
    }

    h2 {

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 40px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 40px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 40px;
        }

        @include respond-to($medium-large) {
            margin-bottom: 40px;
        }
    }

    p {
        margin-bottom: 30px;
        text-align: justify;
    }

    .mb-3 {

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 24px !important;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 24px !important;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 24px !important;
        }

        @include respond-to($medium-large) {
            margin-bottom: 24px !important;
        }
    }
}