footer {
    padding: 43px 0px;
    background-image: url('../img/bg-footer.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;

    // Breakpoints
    @include respond-to($phone) {
        padding: 41px 0px 34px 0px;
    }

    @include respond-to($phone-tablet) {
        padding: 41px 0px 34px 0px;
    }

    @include respond-to($tablet-medium) {
        padding: 41px 0px 34px 0px;
    }

    @include respond-to($medium-large) {
        padding: 41px 0px 34px 0px;
    }

    .img-fluid {
        max-height: 96px;

        // Breakpoints
        @include respond-to($phone) {
            margin-bottom: 16px;
        }

        @include respond-to($phone-tablet) {
            margin-bottom: 16px;
        }

        @include respond-to($tablet-medium) {
            margin-bottom: 16px;
        }

        @include respond-to($medium-large) {
            margin-bottom: 16px;
        }
    }

    .nav {

        // Breakpoints
        @include respond-to($phone) {
            flex-direction: column;
            justify-content: center;
        }

        @include respond-to($phone-tablet) {
            flex-direction: column;
            justify-content: center;
        }

        @include respond-to($tablet-medium) {
            flex-direction: column;
            justify-content: center;
        }

        @include respond-to($medium-large) {
            flex-direction: column;
            justify-content: center;
        }

        .nav-item {
            margin-right: 32px;

            // Breakpoints
            @include respond-to($phone) {
                margin-right: 0px;
                margin-bottom: 16px;
                text-align: center;
            }

            @include respond-to($phone-tablet) {
                margin-right: 0px;
                margin-bottom: 16px;
                text-align: center;
            }

            @include respond-to($tablet-medium) {
                margin-right: 0px;
                margin-bottom: 16px;
                text-align: center;
            }

            @include respond-to($medium-large) {
                margin-right: 0px;
                margin-bottom: 16px;
                text-align: center;
            }

            &:last-child {
                margin-right: 0px;
            }

            .nav-link {
                padding: 0px;
                line-height: 18px;
                font-size: 16px;
                color: $color-secondary;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}