@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    box-shadow: none !important;
    outline: none !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    outline: 0px;
}

html {
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
}

header,
footer,
section {
    width: 100%;
    float: left;
    position: relative;
}

/*Titulos*/
h1 {
    margin: 0px 0px 15px 0px;
    line-height: 55px;
    font-size: 48px;
    color: #FCFCFD;
}

/*Botones*/
.btn-primary {
    padding: 12px 24px;
    background-color: #495867;
    border: 1px solid #495867 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 16px;
    font-size: 14px;
    color: #FCFCFD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    &:hover,
    &:active,
    &.active {
        background-color: transparent;
        color: #495867;
    }
}

/*Parrafos*/
p {
    margin-bottom: 0px;
    letter-spacing: 0;
    line-height: 22px;
    font-size: 16px;
    color: $color-secondary;

    // Breakpoints
    @include respond-to($phone) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($phone-tablet) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($tablet-medium) {
        line-height: 20px;
        font-size: 15px;
    }

    @include respond-to($medium-large) {
        line-height: 20px;
        font-size: 15px;
    }
}

/*formulario*/
form {
    width: 100%;

    .form-control {
        height: 62px;
        padding: 20px;
        margin-bottom: 0px;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: 300;
        font-size: 17px;
        color: $color-third;
        border: none;
        background-color: #FFFFFF;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        box-shadow: none;
        outline: 0px;

        &::-webkit-input-placeholder {
            letter-spacing: 0;
            line-height: 22px;
            font-weight: 300;
            font-size: 17px;
            color: $color-third;
        }

        &:-ms-input-placeholder {
            letter-spacing: 0;
            line-height: 22px;
            font-weight: 300;
            font-size: 17px;
            color: $color-third;
        }

        &::placeholder {
            letter-spacing: 0;
            line-height: 22px;
            font-weight: 300;
            font-size: 17px;
            color: $color-third;
        }
    }
}