header {

    .navbar {
        padding: 8px 0px;
        background-color: $color-fourth;

        .navbar-brand {
            padding: 0px;

            .img-fluid {
                max-height: 48px;        
            }
        }

        .navbar-collapse {
            justify-content: flex-end;

            .navbar-nav {

                // Breakpoints
                @include respond-to($phone) {
                    margin-top: 22px;
                }

                @include respond-to($phone-tablet) {
                    margin-top: 22px;
                }

                @include respond-to($tablet-medium) {
                    margin-top: 22px;
                }

                @include respond-to($medium-large) {
                    margin-top: 22px;
                }

                .menu-item {
                    margin-right: 32px;

                    // Breakpoints
                    @include respond-to($phone) {
                        margin-bottom: 16px;
                        margin-right: 0px;
                        text-align: center;
                    }

                    @include respond-to($phone-tablet) {
                        margin-bottom: 16px;
                        margin-right: 0px;
                        text-align: center;
                    }

                    @include respond-to($tablet-medium) {
                        margin-bottom: 16px;
                        margin-right: 0px;
                        text-align: center;
                    }

                    @include respond-to($medium-large) {
                        margin-bottom: 16px;
                        margin-right: 0px;
                        text-align: center;
                    }

                    &:last-child {
                        margin-right: 0px;

                        // Breakpoints
                        @include respond-to($phone) {
                            margin-bottom: 8px;
                        }

                        @include respond-to($phone-tablet) {
                            margin-bottom: 8px;
                        }

                        @include respond-to($tablet-medium) {
                            margin-bottom: 8px;
                        }

                        @include respond-to($medium-large) {
                            margin-bottom: 8px;
                        }
                    }

                    a {
                        padding: 0px;
                        line-height: 18px;
                        font-size: 16px;
                        color: $color-primary;

                        &:hover {
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }
}